<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <li v-for="(person,index) in persons" :key="person.id">
                {{person.name}}--{{person.age}}--{{index}}
            </li>
        </ul>
        <!-- 遍历对象 -->
        <h2>遍历对象</h2>
        <ul>
            <li v-for="(value,key,index) in car" :key="key">
                {{value}}--{{key}}--{{index}}
            </li>
        </ul>
        <!-- 遍历字符串 -->
        <h2>遍历字符串</h2>
        <ul>
            <li v-for="(value,index) in 'hello'" :key="index">
                {{value}}--{{index}}
            </li>
        </ul>
        <!-- 遍历指定次数 -->
        <h2>遍历指定次数</h2>
        <ul>
            <li v-for="(value,index) in 5" :key="index">
                {{value}}--{{index}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false;
      // 创建一个vue实例
      const vm = new Vue({
        el: "#root", // 挂载点

        data() {
          return {
            persons:[
                {id:1,name:'张三',age:18},
                {id:2,name:'李四',age:19},
                {id:3,name:'王五',age:20},
            ],
            car:{
                brand:'宝马',
                price:1000000,
                color:'red'
            }
          };
        },
      });
    </script>
  </body>
</html>
