<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
        <h1>学生信息</h1>

        <button @click="addAge">年龄+1岁</button>
        <button @click="addSex">添加性别属性，默认值：男</button>
        <button @click="addFriend">在列表首位添加一位朋友</button>
        <button @click="changeF">修改第一个朋友的名字为牛七七</button>
        <button @click="addHobby">添加一个爱好</button>
        <button @click="changeHobby">修改第一个爱好为：开车</button>

        <h2>姓名:{{student.name}}</h2>
        <h2>年龄:{{student.age}}</h2>
        <h2>爱好:{{student.name}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <ul>
            <li v-for="(item,index) in student.hobbies" :key="index">{{item}}</li>
        </ul>

        <h2>朋友</h2>
        <ul>
            <li v-for="(item,index) in student.friends" :key="index">
                <h2>姓名:{{item.name}}</h2>
                <h2>年龄:{{item.age}}</h2>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false;
      // 创建一个vue实例
      // vue 对被监听的数组的变更方法进行了包裹，所以才能监听到数组的变化
      const vm = new Vue({
        el: "#root", // 挂载点

        data() {
            return {
                student:{
                    name: "张三",
                    age: 18,
                    hobbies: ["打游戏", "看电影", "听音乐"],
                    friends: [
                        { name: "李四", age: 19 },
                        { name: "王五", age: 20 },
                        { name: "赵六", age: 21 },
                    ]
                }
            };
        },
        methods: {
            addAge(){
                this.student.age += 1
            },
            addSex(){
                this.$set(this.student,'sex','男')
            },
            addFriend(){
                // this.student.friends.unshift({name:'牛七',age:22})
                this.student.friends=[{name:'牛七',age:22},...this.student.friends]
            },
            changeF(){
                this.student.friends[0].name = '牛七七'
            },
            addHobby(){
                this.student.hobbies.push('打篮球')
            },
            changeHobby(){
                this.student.hobbies.splice(0,1,'开车')
                // Vue.set(this.student.hobbies,0,'开车')
                // this.$set(this.student.hobbies,0,'开车')

            }
        },
      });
    </script>
  </body>
</html>
